{% extends 'shared/base.html' %}

{% block content %}
    <title>Clothing</title>
</head>

<body>

    <section id="item-details">
        <h1>{{ item.name }}</h1>
        <h2>{{ item.description }}</h2>

        <div> {{ item.size }}</div>
        <div> {{ item.quantity }}</div>
    </section>

    <section id="item-actions" style="display:flex;">
        <form action="{% url 'capstoneapp:item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'capstoneapp:item_edit_form' item.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>

{% endblock %}