<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Size Your Drive</title>
  </head>
  <body>
    <h1>Clothing Item</h1>


    <form action="{% url 'capstoneapp:items' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="name">Item: </label>
          <input id="name" type="text" name="name">
      </fieldset>
      <fieldset>
          <label for="description">Decription:</label>
          <input id="description" type="text" name="description">
      </fieldset>
      <fieldset>
          <label for="size">Size </label>
          <input id="size" type="text" name="size">
      </fieldset>
      <fieldset>
          <label for="quantity">Quantity: </label>
          <input id="quantity" type="number" name="quantity">
      </fieldset>
      <fieldset>
          <label for="category_id">Category: </label>
          <select id="category_id" type="text" name="category_id">
                {% for category in all_categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
          </select>
      </fieldset>

        {% if item.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Add It" />
        {% endif %}

    </form>
  </body>
</html>