{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/item.css' %}" />
{% endblock %}

{% block content %}

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    <a href="{% url 'capstoneapp:item_form' %}">Add Clothing Item</a>

    <ol class="items">
    {% csrf_token %}
    {% for item in all_items %}
        <li class="item">
            <a class="item__name" href="{% url 'capstoneapp:item' item.id %}"> {{ item.name }}</a>
            <div class="item__description">
                 {{item.description}}
            </div>
            <div>{{item.size}} </div>
            <div>{{item.quantity}} </div>
            <div>{{item.category.name}} </div>
            <button name="type" value="donation" type="button" id="detail--{{ item.id }}">Add To Donation Box</button>


        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/items.js' %}"></script>
{% endblock %}


{% comment %} href= {% url 'capstoneapp:donations' %} {% endcomment %}
{% comment %} <button  onSubmit name="type" value="donation" type="button">Add To Donation Box</button> {% endcomment %}


