{% extends 'shared/base.html' %}

{% block content %}
    <h1>Items</h1>
<a href="{% url 'capstoneapp:item_form' %}">Create New Clothing Item</a>
    <div>
    {% for item in all_items %}
        <p>{{item.name }}</p>
        <p>{{item.description}}</p>
        <p>{{item.size}}</p>

    {% endfor %}
    </div>
{% endblock content %}



{% comment %} {% extends 'shared/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/items.css' %}" />
{% endblock %}

{% block content %}
    <h1>Books</h1>

    <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog>

    <a href="{% url 'capstoneapp:item_form' %}">Add Clothing Item</a>

    <ol class="items">
    {% for item in all_items %}
        <li class="item">
            <a class="item__title" href="{% url 'libraryapp:item' item.id %}"> {{ item.name }}</a>
            <div class="item__description">
                 {{item.description}} {{item.size}}
            </div>
            <button id="detail--{{ item.id }}">Details</button>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/items.js' %}"></script>
{% endblock %} {% endcomment %}