{% extends 'shared/base.html' %}

{% block content %}
    <h1>Register</h1>

    <form action="{% url 'capstoneapp:register' %}" method="post">
        <fieldset>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" value="admin">
        </fieldset>

        <fieldset>
            <label for="first_name">First name: </label>
            <input id="first_name" type="text" name="first_name" value="Admin">
        </fieldset>

        <fieldset>
            <label for="last_name">Last name: </label>
            <input id="last_name" type="text" name="last_name" value="Staytor">
        </fieldset>


        <fieldset>
            <label for="email">Email: </label>
            <input id="email" type="text" name="email" value="admin@admin.com">
        </fieldset>

        <fieldset>
            <label for="address">Address: </label>
            <input id="address" type="text" name="address" value="123 Main Street">
        </fieldset>

        {% comment %} <fieldset>
            <label for="phone_number">Phone Number: </label>
            <input id="phone_number" type="text" name="phone_number" value="615-767-6686">
        </fieldset>

        <fieldset>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" value="Admin8*">
        </fieldset> {% endcomment %}

        <input type="submit" value="Register" />

    </form>

{% endblock %}